html {
  font-size: 62.5%;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
user-select: none;
font-family: 'Roboto', sans-serif;
}

header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: +1;
  display: flex;
  align-items: center;
  padding: 10px 30px; 

}
.logo {
  margin-right: 50px; 
}

.sala{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

#sala1{
  background-image: url("../img/index.jpg");
}
#sala2{
  background-image: url("../img/fondo.jpg");   
}
#sala3{
  background-image: url("../fondo\ facil.jpg");   
}


nav ul
{
  list-style: none;
}

.inicio__boton
{
  background-color:rgb(31, 200, 104) ; 
  border: 2px solid rgb(33, 255, 129);
  border-radius: 40px;
  padding: 20px 80px;
  font-size: 2rem; 
  color: white; 
}

.titulo h2
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  width: 200vh;    
  font-size: 4rem;
  font-family: 'Luckiest Guy', cursive;
  background: linear-gradient(to right, rgb(255, 255, 255) 56.9%, rgb(60, 154, 242) 50%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black; /* Grosor del borde */

  color: transparent;
  -webkit-text-fill-color: transparent; /* Hace el texto transparente */

}





.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-dc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 200vh;
}




.button-dc h2 {
  font-size: 6rem;
  font-family: 'Luckiest Guy', cursive;
  color: white; /* Color de fuente blanco */
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Crea el efecto de borde negro */
}



.button-container button {
  margin: 35px;
  border-radius: 40px;
  padding: 20px 90px;
  font-size: 2rem; 
  color: white; 
  font-family: 'Londrina Solid', cursive;
}

.button-container-categoria button
{
  margin: 35px;
  border-radius: 40px;
  padding: 10px 50px;
  font-size: 2.5rem; 
  color: white; 
  font-family: 'Londrina Solid', cursive;
}

.button-container-categoria button:hover {
  color: rgb(0, 0, 0); 
}


.button-container button:hover {
  color: rgb(0, 0, 0); 
}

.button-container button {
  margin: 10px;
}

#config__boton--seleccionado{
  background-color: rgb(255, 255, 255);
  color:hsl(0, 0%, 0%);
}

#config__boton--seleccionado2{
  background-color: rgb(255, 255, 255);
  color:hsl(0, 0%, 0%);
}


#button-container--Fácil
{
  background-color:rgb(11, 94, 255) ; 
  border: 2px solid rgb(11, 94, 255);
}

#button-container--Intermedio
{
   background-color:rgb(254, 168, 68) ; 
  border: 2px solid rgb(254, 168, 68);
}

#button-container--Difícil
{
  background-color:rgb(254, 79, 68) ; 
  border: 2px solid rgb(254, 79, 68);
}

#button-container--Futbol
{
  background-color:rgb(255, 0, 0); 
  border: 2px solid rgb(255, 0, 0);
}

#button-container--Ciencia
{
  background-color:rgb(8, 132, 67); 
  border: 2px solid rgb(8, 132, 67);
}
#button-container--Historia
{
  background-color:rgb(235, 208, 54); 
  border: 2px solid rgb(235, 208, 54);
}
#button-container--Entretenimiento
{
  background-color:rgb(230, 67, 160); 
  border: 2px solid rgb(230, 67, 160);
}

.button-container a {
  color: inherit;
  text-decoration: none;
}

.button-container-categoria a {
  color: inherit;
  text-decoration: none;
}


.container-juego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 250vh;
}

.pregunta h2 {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  font-size: 2rem;
  font-family: 'Luckiest Guy', cursive;
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 150px;
  line-height: 1;
}



.final h3 {
  font-size: 5rem;
  font-family: 'Luckiest Guy', cursive;
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 500px;
  height: 300px;
  margin: 0px, 10px ;
}


.resultado h2 {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  font-size: 5rem;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(250, 0, 0);
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 150px;
  line-height: 1;
}



.container-juego form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-juego input[type="submit"] {
  margin: 15px 0; 
  width: 400px; /* Ancho del campo de entrada */
  height: 50px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer
}

.submitBlanco
{
  background-color: rgb(255, 255, 255);
  color: white;
}

.submitRojo
{
  background-color: rgb(251, 0, 0);
  color: red;
}

.submitVerde
{
  background-color: rgb(109, 249, 0);
  color: green;
}

.container-juego input[type="submit"]:hover {
  background-color: rgb(138, 139, 138);
}

.button-dc input[type="text"] {
  width: 400px; /* Ancho del campo de entrada */
  height: 60px; /* Altura del campo de entrada */
  border-radius: 20px; /* Borde redondo */
  padding: 10px; /* Espacio interno */
  font-size: 1.5rem; /* Tamaño de fuente */
  margin-bottom: 15px; /* Espacio inferior entre elementos */
}

.button-dc input[type="submit"] {
  background-color: green;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.button-dc input[type="submit"]:hover {
  background-color: darkgreen;
}

.personaje-abajo {
  bottom: 0;
  top: 43%;
  left: 100px;
  position: fixed;
}


